<div id="patient-results" ng-controller="PatientSearchController">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">

            <!--<div class="slim-page-header">Choose a patient</div>-->
            <div class="row">
                <div class="slim-page-header">Choose a patient</div>
            </div>

            <div class="row">
                <div class="pull-left basic-text">Search for patients by name</div>
            </div>

            <div class="row">
                <input
                        id="patient-search"
                        class="col-md-12 pull-left input-long basic-text"
                        type="text"
                        autofocus
                        contenteditable
                        focus-on-key="191"
                        ng-model="searchterm"
                        placeholder="john smith ..."/>
            </div>

            <div class="row table-container box" ng-show="!showing.searchloading">
                <div id="patient-results-list" ng-cloak when-scrolling="loadMoreIfNeeded()">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <td>
                                <a href="#" ng-click="sortSelected='gender'; sortReverse = !sortReverse;">
                                    Gender
                                    <span ng-show="sortSelected == 'gender' && !sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes"></span>
                                    <span ng-show="sortSelected == 'gender' && sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="sortSelected='name'; sortReverse = !sortReverse;">
                                    Name
                                    <span ng-show="sortSelected == 'name' && !sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes"></span>
                                    <span ng-show="sortSelected == 'name' && sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="sortSelected='age'; sortReverse = !sortReverse;">
                                    Age
                                    <span ng-show="sortSelected == 'age' && !sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes"></span>
                                    <span ng-show="sortSelected == 'age' && sortReverse;"
                                          class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                </a>
                            </td>
                        </tr>
                        </thead>
                        <tr class="patient-row" ng-click="select($index)"
                            ng-repeat="patient in patients | orderBy:sortSelected"
                            ng-class="{selected : patient === selected.selectedPatient}">
                            <td class="gender"
                                ng-bind-html="genderglyph[patient.gender]"></td>
                            <td class="name">
                                <span ng-bind="patient | nameFamilyGiven"></span>
                            </td>
                            <td>
                                <i ng-bind="patient.birthDate | ageFilter "></i>
                            </td>
                        </tr>
                    </table>

                    <div ng-show="!showing.searchloading && (patients.length==0)">
                        <p>No matches, try broadening your search.</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-md-1"></div>
    </div>
</div>
